.redes {
  position: absolute;
  position: fixed;
  right: 3%;
  bottom: 3%;
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.redes a img {
  width: 24px;
  filter: invert(99%) sepia(31%) saturate(2%) hue-rotate(206deg) brightness(114%) contrast(100%);
}

.redes .whatsapp {
  background: linear-gradient(45deg, #25D366, #128C7E, #075E54);
  border-radius: 450px 450px 450px 450px; /* Solo redondea las esquinas superiores */
}

.redes .facebook {
  background: linear-gradient(45deg, #1877F2, #3b5998, #8b9dc3);
}

.redes .instagram {
  background: linear-gradient(45deg, #833AB4, #FD1D1D, #F56040);
  border-radius: 0 0 10px 0; 
}

.redes a:hover {
  width: 54px;
  height: 54px;
}
